# 2018Q1Section 2: Closed Cases Data

## T4: Case Data
### To find out total number of closed cases in each month of the quarter

In [1]:
import pandas as pd
import numpy as np

qt4=pd.read_csv('Data/section2_file_revised.txt')  
qt4 = pd.DataFrame(qt4)

# Name column with original data as raw
qt4.columns = ['raw']

# Columns based on Transmission Format Section 1
qt4['record type'] = qt4['raw'].str.extract('(..)',expand = True)
qt4['reporting month'] = qt4['raw'].str[2:8]
qt4['case number'] = qt4['raw'].str[8:19]
qt4['county fips code'] = qt4['raw'].str[19:22]
qt4['stratum'] = qt4['raw'].str[22:24]
qt4['zip code'] = qt4['raw'].str[24:29]
qt4['disposition'] = qt4['raw'].str[29:30]
qt4['reason for closure'] = qt4['raw'].str[30:32]
qt4['receives subsidized housing'] = qt4['raw'].str[32:33]
qt4['receives medical assistance'] = qt4['raw'].str[33:34]
qt4['receives food stamps'] = qt4['raw'].str[34:35]
qt4['reporting'] = qt4['raw'].str[2:8]
qt4['receives subsidized child care'] = qt4['raw'].str[35:36]
qt4['blanks'] = qt4['raw'].str[36:71]

# Making a copy 
quarter = qt4.copy()

# Total T4, T4 in the quarter
t4t5 = quarter['record type'].value_counts()

# Filter out T4:  Case Data
quarter_t4 = quarter[quarter['record type'].str.contains('T4')]
quarter_t4_breakdown = quarter_t4['reporting month'].value_counts()

# Number of cases closed in each reporting month of the quarter
closed = (quarter_t4['reporting month']).value_counts()

print('Total number of T4 and T5 in section2: \n%s\n' %t4t5)
print('Total number of cases closed in each month of the quarter: \n%s' %closed)

Total number of T4 and T5 in section2:
T5    2695
T4     960
TR       1
Name: record type, dtype: int64

Total number of cases closed in each month of the quarter:
201803    368
201802    322
201801    270
Name: reporting month, dtype: int64

## T5: Person Data
### To find out total number of teen parents in each month of the quarter

In [8]:
import pandas as pd
import numpy as np

qt5=pd.read_csv('Data/section2_file_revised.txt')  
qt5 = pd.DataFrame(qt5)

# Name column with original data as raw
qt5.columns = ['raw']

# Columns based on Transmission Format Section 1
qt5['record type'] = qt4['raw'].str.extract('(..)',expand = True)
qt5['reporting month'] = qt4['raw'].str[2:8]
qt5['case number'] = qt4['raw'].str[8:19]
qt5['family affiliation'] = qt4['raw'].str[19:20]
qt5['dob'] = qt4['raw'].str[20:28]
#qt5['dob year'] = qt4['raw'].str[20:24]
#qt5['dob month'] = qt4['raw'].str[24:26]
#qt5['dob day'] = qt4['raw'].str[26:28]
qt5['social security'] = qt4['raw'].str[28:37]
qt5['race/ethnicity Item 17A_Hispanic or latino'] = qt4['raw'].str[37:38]
qt5['item 17B_american indian or alaska native'] = qt4['raw'].str[38:39]
qt5['item 17C_asian'] = qt4['raw'].str[39:40]
qt5['item 17D_black or african american'] = qt4['raw'].str[40:41]
qt5['item 17E_native hawaiian or other pacific islander'] = qt4['raw'].str[41:42]
qt5['item 17F_white'] = qt4['raw'].str[42_43]
qt5['gender'] = qt4['raw'].str[43:44]
qt5['receives disability benefits Item 19A_received federal disability insurance benefits under the OASDI program'] = qt4['raw'].str[44:45]
qt5['item 19B_receives_beneifts based on federal disability status under non-ssa programs'] = qt4['raw'].str[45:46]
qt5['item 19C_received aid t the permanently & totally disabled under title XIV-APDT'] = qt4['raw'].str[46:47]
qt5['item 19D_received aid to the aged, blind, & disabled under title XVI-AABD'] = qt4['raw'].str[47:48]
qt5['item 19E_received ssi under title XVI-SSI'] = qt4['raw'].str[48:49]
qt5['marital status'] = qt4['raw'].str[49:50]
qt5['relationship to head of household'] = qt4['raw'].str[50:52]
qt5['parent with minor child in the family'] = qt4['raw'].str[52:53]
qt5['needs of a pregnant woman'] = qt4['raw'].str[53:54]
qt5['education level'] = qt4['raw'].str[54:56]
qt5['citizenship/alienage'] = qt4['raw'].str[56:57]
qt5['number of ocuntable months toward federal time limit'] = qt4['raw'].str[57:60]
qt5['number of countable months remaining under state/tribe time limit'] = qt4['raw'].str[60:62]
qt5['employment status'] = qt4['raw'].str[62:63]
qt5['amount of earned income'] = qt4['raw'].str[63:67]
qt5['amount of unearned income'] = qt4['raw'].str[67:71]

# Making a copy 
quarter = qt5.copy()

# Total T4, T5 in the quarter
t4t5 = quarter['record type'].value_counts()

# Filter out T5:  Case Data
quarter_t5 = quarter[quarter['record type'].str.contains('T5')]

# Convert columns reporting month and date of birth to date time format
quarter_t5c = quarter_t5.copy()
quarter_t5c['reporting month'] = pd.to_datetime(quarter_t5c['reporting month'] +'01') # Insert 01 as default day
quarter_t5c['dob'] = pd.to_datetime(quarter_t5c['dob'])
quarter_t5c['age'] = ((quarter_t5c['reporting month']) - (quarter_t5c['dob']))/np.timedelta64(1, 'Y') # Get the age values in years


# Total teen parents
teen_parent =  ((quarter_t5c['age'] < 18.0) & (quarter_t5c['parent with minor child in the family'] == 1)).values.sum()

# Number of children in section2
children = (quarter_t5c['age'] < 18.0).values.sum()


print('Total Number of Teen Parents: %d'%teen_parent)
print('Total children: %d' %children)

Total Number of Teen Parents: 0
Total children: 1677

In [3]:
quarter_t5c['parent with minor child in the family'].unique()

array(['2', '1'], dtype=object)

In [28]:
q12018_children = quarter_t5c.loc[(quarter_t5c['age'] < 18.0)]
writer = pd.ExcelWriter("2018Q1_sec2_transmitted_final.xlsx")
q12018_children.to_excel(writer, sheet_name = "Transmit Final", index = False)
writer.save()

In [4]:
import pandas as pd
import numpy as np

qt5=pd.read_csv('Data/2017q4_section2_file_06172019.txt')  
qt5 = pd.DataFrame(qt5)

# Name column with original data as raw
qt5.columns = ['raw']

# Columns based on Transmission Format Section 1
qt5['record type'] = qt4['raw'].str.extract('(..)',expand = True)
qt5['reporting month'] = qt4['raw'].str[2:8]
qt5['case number'] = qt4['raw'].str[8:19]
qt5['family affiliation'] = qt4['raw'].str[19:20]
qt5['dob'] = qt4['raw'].str[20:28]
#qt5['dob year'] = qt4['raw'].str[20:24]
#qt5['dob month'] = qt4['raw'].str[24:26]
#qt5['dob day'] = qt4['raw'].str[26:28]
qt5['social security'] = qt4['raw'].str[28:37]
qt5['race/ethnicity Item 17A_Hispanic or latino'] = qt4['raw'].str[37:38]
qt5['item 17B_american indian or alaska native'] = qt4['raw'].str[38:39]
qt5['item 17C_asian'] = qt4['raw'].str[39:40]
qt5['item 17D_black or african american'] = qt4['raw'].str[40:41]
qt5['item 17E_native hawaiian or other pacific islander'] = qt4['raw'].str[41:42]
qt5['item 17F_white'] = qt4['raw'].str[42_43]
qt5['gender'] = qt4['raw'].str[43:44]
qt5['receives disability benefits Item 19A_received federal disability insurance benefits under the OASDI program'] = qt4['raw'].str[44:45]
qt5['item 19B_receives_beneifts based on federal disability status under non-ssa programs'] = qt4['raw'].str[45:46]
qt5['item 19C_received aid t the permanently & totally disabled under title XIV-APDT'] = qt4['raw'].str[46:47]
qt5['item 19D_received aid to the aged, blind, & disabled under title XVI-AABD'] = qt4['raw'].str[47:48]
qt5['item 19E_received ssi under title XVI-SSI'] = qt4['raw'].str[48:49]
qt5['marital status'] = qt4['raw'].str[49:50]
qt5['relationship to head of household'] = qt4['raw'].str[50:52]
qt5['parent with minor child in the family'] = qt4['raw'].str[52:53]
qt5['needs of a pregnant woman'] = qt4['raw'].str[53:54]
qt5['education level'] = qt4['raw'].str[54:56]
qt5['citizenship/alienage'] = qt4['raw'].str[56:57]
qt5['number of ocuntable months toward federal time limit'] = qt4['raw'].str[57:60]
qt5['number of countable months remaining under state/tribe time limit'] = qt4['raw'].str[60:62]
qt5['employment status'] = qt4['raw'].str[62:63]
qt5['amount of earned income'] = qt4['raw'].str[63:67]
qt5['amount of unearned income'] = qt4['raw'].str[67:71]

# Making a copy 
quarter = qt5.copy()

# Total T4, T5 in the quarter
t4t5 = quarter['record type'].value_counts()

# Filter out T5:  Case Data
quarter_t5 = quarter[quarter['record type'].str.contains('T5')]

# Convert columns reporting month and date of birth to date time format
quarter_t5c = quarter_t5.copy()
quarter_t5c['reporting month'] = pd.to_datetime(quarter_t5c['reporting month'] +'01') # Insert 01 as default day
quarter_t5c['dob'] = pd.to_datetime(quarter_t5c['dob'])
quarter_t5c['age'] = ((quarter_t5c['reporting month']) - (quarter_t5c['dob']))/np.timedelta64(1, 'Y') # Get the age values in years


# Total teen parents
teen_parent =  ((quarter_t5c['age'] < 18.0) & (quarter_t5c['parent with minor child in the family'] == 1)).values.sum()

# Number of children in section2
children = (quarter_t5c['age'] < 18.0).values.sum()


print('Total Number of Teen Parents: %d'%teen_parent)
print('Total children: %d' %children)

Total Number of Teen Parents: 0
Total children: 1365

In [33]:
quarter_t5c['parent with minor child in the family'].unique()

array(['2', '1'], dtype=object)

In [26]:
quarter_t5c.loc[(quarter_t5c['age'] < 18.0)]

,raw,record type,reporting month,case number,family affiliation,dob,social security,race/ethnicity Item 17A_Hispanic or latino,item 17B_american indian or alaska native,item 17C_asian,...,parent with minor child in the family,needs of a pregnant woman,education level,citizenship/alienage,number of ocuntable months toward federal time limit,number of countable months remaining under state/tribe time limit,employment status,amount of earned income,amount of unearned income,age
3,T5201710 2464018119850203PZ@0YTB0#222122222...,T5,2018-01-01,7759817,5,2016-05-12,Z0Y9YT#B#,2,2,2,...,2,2,98,1,000,00,3,0000,0000,1.640006
6,T5201710 7816297120000506#@P@WYT@B122222122...,T5,2018-01-01,2297503,5,2015-12-30,B@T9@ZZWY,2,2,2,...,2,2,98,1,000,00,3,0000,0000,2.006886
8,T4201710 698768411999721161193223 ...,T5,2018-01-01,7864085,1,2006-10-31,#YY@9BT#T,2,1,2,...,2,2,04,1,000,00,3,0000,0000,11.170661
11,T4201710 769943511999722091993223 ...,T5,2018-01-01,7743614,1,2016-08-03,T9TWYWB#@,2,2,2,...,2,2,98,1,000,00,3,0000,0000,1.412760
15,T5201710 7584706119870203PZT#WZY0@222122222...,T5,2018-01-01,7803475,1,2015-03-12,BT@@W9#0T,2,2,2,...,2,2,98,1,000,00,3,0000,0000,2.809093
17,T4201710 783449506999716031993223 ...,T5,2018-01-01,7700539,5,2017-11-03,ZTBBZ#@ZP,2,2,2,...,2,2,98,1,000,00,3,0000,0000,0.161537
19,T5201710 7834495119970918PZ@WZ@ZTT222122222...,T5,2018-01-01,7700539,5,2016-03-25,@00B00@B0,2,2,2,...,2,2,98,1,000,00,3,0000,0000,1.771426
22,T5201710 2594069120010521#YYT@#TZW222221122...,T5,2018-01-01,3070091,1,2016-06-21,ZZY9YBTW9,2,2,2,...,2,2,98,1,000,00,3,0000,0000,1.530490
24,T4201710 750430011999722041153123 ...,T5,2018-01-01,6445175,5,2013-05-17,9B9YW@900,2,2,2,...,2,2,98,1,000,00,3,0000,0000,4.627063
27,T4201710 324258406999716031043223 ...,T5,2018-01-01,3257598,5,2014-09-29,B@ZP#99@@,2,2,2,...,2,2,98,1,000,00,3,0000,0000,3.258109
29,T5201710 3242584120080610#YY@#@WP9222122122...,T5,2018-01-01,3257598,5,2013-11-24,YYZ#@ZWYZ,2,2,2,...,2,2,98,1,000,00,3,0000,0000,4.104123
30,T4201710 776755706999716031043213 ...,T5,2018-01-01,3257598,5,2015-08-23,BBWBW#0#@,2,2,2,...,2,2,98,1,000,00,3,0000,0000,2.360076
32,T5201710 7767557520120821ZT90@ZPZB222221122...,T5,2018-01-01,3263377,1,2014-12-29,YWPBTB9WW,2,2,2,...,2,2,98,1,000,00,3,0000,0000,3.008960
33,T5201710 7767557520130814YYY#PBTB0222221122...,T5,2018-01-01,3263377,1,2007-02-06,#YW@9TZP#,2,2,2,...,2,2,04,1,000,00,3,0000,0000,10.902346
35,T5201710 7763439119760616#T00P9Z9T222122222...,T5,2018-01-01,3263377,1,2013-12-11,YBPZ0@W9@,2,2,2,...,2,2,98,1,000,00,3,0000,0000,4.057578
38,T5201710 2858035119870324PZ@#ZYW09222122222...,T5,2018-01-01,7120862,5,2012-11-20,PY0W0#BTB,2,2,2,...,2,2,98,1,000,00,3,0000,0000,5.114410
41,T4201710 756685606999712471993223 ...,T5,2018-01-01,7687401,1,2009-03-21,#Y#@BB#T#,2,2,2,...,2,2,12,1,000,00,3,0000,0000,8.783206
43,T5201710 7566856520141217@B9@0Z0PT222221222...,T5,2018-01-01,7675248,1,2011-10-12,YTW#9P9ZY,1,2,2,...,2,2,98,1,000,00,3,0000,0000,6.223263
47,T4201710 781877011999722041153223 ...,T5,2018-01-01,7589495,5,2016-07-05,#WYPYY##@,2,2,2,...,2,2,98,1,000,00,3,0000,0000,1.492159
48,T5201710 7818770119921221PZ9BZPPTB222221222...,T5,2018-01-01,7589495,5,2017-06-09,Y#ZY0@0@P,2,2,2,...,2,2,98,1,000,00,3,0000,0000,0.564009
49,T5201710 7818770520130912PPPBWWWB@222222222...,T5,2018-01-01,7589495,5,2015-04-07,Z9#Y@ZZ0Z,2,2,2,...,2,2,98,1,000,00,3,0000,0000,2.737907
52,T5201710 6989499119880529PZTY@9900222122222...,T5,2018-01-01,7832255,1,2004-01-03,#YYTYW#9W,2,2,2,...,2,2,07,1,000,00,3,0000,0000,13.996181
53,T4201710 781816309599720291993213 ...,T5,2018-01-01,7832255,1,2000-01-07,PZ9WYWP0W,2,2,2,...,2,2,11,1,000,00,3,0000,0000,17.985311
56,T4201710 225215011999722021193213 ...,T5,2018-01-01,7350179,5,2013-01-01,BPPPT9T09,2,2,2,...,2,2,98,1,000,00,3,0000,0000,4.999418
57,T5201710 2252150120010825#YBT@WT@P222122222...,T5,2018-01-01,7350179,5,2014-01-28,0@BBW0B@#,2,2,2,...,2,2,98,1,000,00,3,0000,0000,3.926159
60,T5201710 7818434119960220#TYBB0W9W222122222...,T5,2018-01-01,7819900,5,2015-05-11,ZPT0ZB9#@,2,2,2,...,2,2,98,1,000,00,3,0000,0000,2.644818
63,T5201710 7802979119910607P9WB@900#222221122...,T5,2018-01-01,7322510,5,2013-06-08,Y0ZYT9WP0,2,2,2,...,2,2,98,1,000,00,3,0000,0000,4.566829
65,T5201710 78029791199312040ZPZ@ZYZB222221222...,T5,2018-01-01,1629796,1,2000-06-26,PZTWWBY9P,2,2,2,...,2,2,10,1,000,00,3,0000,0000,17.517129
67,T4201710 654828511999722021993213 ...,T5,2018-01-01,1629796,1,2001-10-23,#YWT@#T9T,2,2,2,...,2,2,09,1,000,00,3,0000,0000,16.191982
69,T5201710 6548285119910910P9WB@#900222122222...,T5,2018-01-01,7442970,1,2011-12-31,YZ9YBPT@0,2,2,2,...,2,2,98,1,000,00,3,0000,0000,6.004230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2891,T5201712 1721083119780903PZ90W#WYT222221222...,T5,2018-03-01,4187431,1,2016-09-21,YTP@YZZYB,2,2,2,...,2,2,98,1,000,00,3,0000,0000,1.440139
2893,T4201712 231154912399723361993213 ...,T5,2018-03-01,5128942,1,2003-01-25,#YYT0TP99,2,2,2,...,2,2,07,1,000,00,3,0000,0000,15.096819
2895,T5201712 2311549120080410#Y#@#Y@@Y222122222...,T5,2018-03-01,5128942,1,2000-07-13,PZTWWYP9T,2,2,2,...,2,2,10,1,000,00,3,0000,0000,17.632121
2897,T5201712 2311549120020524#YBTZT0T@222122222...,T5,2018-03-01,6134261,1,2004-04-06,#YBTY9ZBY,2,2,2,...,2,2,08,1,000,00,3,0000,0000,13.900354
2898,T5201712 2311549120030907#YWT0YZ@W222122222...,T5,2018-03-01,6134261,1,2002-12-10,#Y#T0BTB9,2,2,2,...,2,2,08,1,000,00,3,0000,0000,15.222763
2903,T4201712 303793211999721201993213 ...,T5,2018-03-01,6308399,1,2009-05-01,#YY@BZ9WT,1,2,2,...,2,2,98,1,000,00,3,0000,0000,8.832488
2906,T5201712 3037932120130731BZZ@#TT9T222122122...,T5,2018-03-01,7411355,1,2011-07-20,T@Z@W@B#W,2,2,2,...,2,2,98,1,000,00,3,0000,0000,6.614783
2909,T4201712 424884914599720121143213 ...,T5,2018-03-01,7481652,1,2013-05-08,#YPPY@Y0P,2,2,2,...,2,2,98,1,000,00,3,0000,0000,4.813241
2911,T5201712 4248849119991201PZ@WYYW#9222221222...,T5,2018-03-01,7560287,1,2015-04-19,TTY#0W9WT,2,2,2,...,2,2,98,1,000,00,3,0000,0000,2.866589
2913,T5201712 4957032120030314#YYT0#PBB222221222...,T5,2018-03-01,7560287,1,2012-11-23,TPPB@WW0P,2,2,2,...,2,2,98,1,000,00,3,0000,0000,5.267733
2916,T5201712 4957032120030314#YYT0YZY@222221122...,T5,2018-03-01,7566388,1,2015-03-13,@Y#BBTT#P,2,2,2,...,2,2,98,1,000,00,3,0000,0000,2.967891
2919,T5201712 636837311988021490B#0WYBT222221222...,T5,2018-03-01,7648918,1,2012-05-16,##0BYB0##,2,2,2,...,2,2,98,1,000,00,3,0000,0000,5.790673
2920,T4201712 648051205199719011153123 ...,T5,2018-03-01,7648918,1,2014-01-15,#WTPZZ0#T,2,2,2,...,2,2,98,1,000,00,3,0000,0000,4.123288
2923,T5201712 6480512120070709#Y#@PWB9Y222221222...,T5,2018-03-01,7674161,1,2011-05-23,#YB99@#TZ,2,2,2,...,2,2,98,1,000,00,3,0000,0000,6.773582
2925,T4201712 660946405599724121153213 ...,T5,2018-03-01,7740820,1,2001-01-19,Z9BWBY##W,2,2,2,...,2,2,10,1,000,00,3,0000,0000,17.111919
2926,T5201712 66094643197102260PWPZYZPW222221222...,T5,2018-03-01,7740820,1,2004-01-05,Z0#T9#TBW,2,2,2,...,2,2,07,1,000,00,3,0000,0000,14.152241
2930,T5201712 75307551197204110Y9PW99ZP222122222...,T5,2018-03-01,7800382,1,2009-07-01,#YB@BTZBP,2,2,2,...,2,2,02,1,000,00,3,0000,0000,8.665476
2933,T5201712 7555852120041129#ZYWPWZT#222221222...,T5,2018-03-01,7783775,1,2013-08-18,TPP@YTB@Y,2,2,2,...,2,2,98,1,000,00,3,0000,0000,4.533974
2935,T4201712 759811710799723901993223 ...,T5,2018-03-01,7795924,1,2015-01-28,BW9ZTYYP0,2,2,2,...,2,2,98,1,000,00,3,0000,0000,3.088359
2938,T4201712 761930409199718541993223 ...,T5,2018-03-01,7796511,1,2004-07-12,#0W@T@9YY,2,2,2,...,2,2,98,1,000,00,3,0000,0000,13.634777
2940,T5201712 7619304120110404#P09WWWY0222122222...,T5,2018-03-01,7796511,1,2000-12-10,##@T0ZWZ0,2,2,2,...,2,2,98,1,000,00,3,0000,0000,17.221435
2943,T5201712 7665480119991227#@9@Y@BTT222122222...,T5,2018-03-01,7830543,1,2017-08-23,TWW9Z#@0Z,2,2,2,...,2,2,98,1,000,00,3,0000,0000,0.520202
2944,T4201712 767098703199724161993223 ...,T5,2018-03-01,7830543,1,2016-11-08,BWZ#0BTTZ,2,2,2,...,2,2,98,1,000,00,3,0000,0000,1.308720
2946,T5201712 7670987119701019PZT#@B@PP222221122...,T5,2018-03-01,7824755,1,2002-03-21,#YYTZ09#Z,2,2,2,...,2,2,08,1,000,00,3,0000,0000,15.945570
2947,T5201712 7670987120110304#YY99ZTBB222221122...,T5,2018-03-01,7824755,1,2013-10-21,YZBY@@BTY,2,2,2,...,2,2,98,1,000,00,3,0000,0000,4.358748
2948,T4201712 770027102999721101193213 ...,T5,2018-03-01,7824755,1,2013-10-21,@@WWWZ0PT,2,2,2,...,2,2,98,1,000,00,3,0000,0000,4.358748
2951,T4201712 785340107799723601993113 ...,T5,2018-03-01,7821056,1,2016-11-29,B#YZ0T0BB,2,2,2,...,2,2,98,1,000,00,3,0000,0000,1.251224
2954,T4201712 782092405599724431993213 ...,T5,2018-03-01,7845665,1,2011-02-07,#YY99T9Y@,2,2,2,...,2,2,98,1,000,00,3,0000,0000,7.061062
2957,T5201712 7820924120081009#YB@#B@Y0222221222...,T5,2018-03-01,7853238,1,2009-01-20,Y##BTB0YP,2,1,2,...,2,2,02,1,000,00,3,0000,0000,9.109017
2961,TRAILER005,T5,2018-03-01,7849575,1,2007-05-11,#@##ZBTTB,2,2,2,...,2,2,98,1,000,00,3,0000,0000,10.806519

In [19]:
quarter_t5c['age'].sort_values()

160      0.021903
1915     0.123206
840      0.147847
1705     0.156061
17       0.161537
1884     0.172488
387      0.180702
830      0.194391
3324     0.197129
1522     0.199867
713      0.213557
1730     0.219033
970      0.221770
696      0.221770
242      0.224508
3268     0.232722
331      0.238198
3408     0.238198
912      0.246412
3496     0.260101
2025     0.271053
384      0.273791
735      0.282004
3143     0.290218
1804     0.292956
600      0.292956
708      0.295694
504      0.301170
2129     0.306646
118      0.312121
          ...
654     59.897192
1211    60.001232
3160    60.113486
1213    60.340733
1096    60.442035
1276    60.652854
1503    61.515295
2566    61.635763
658     62.191558
2240    62.347618
1137    62.421542
1237    62.722712
2646    62.881510
3189    63.056736
760     65.200517
1235    65.244324
70      65.340151
2602    65.849401
2538    67.062294
2482    68.721466
1394    69.460701
3387    69.608548
213     70.495630
1568    70.561339
1437    73.578513
1433    73.622319
3117    73.942655
2886    75.284229
3042    75.286967
2549    77.406107
Name: age, Length: 2695, dtype: float64